# Internals
Makefile
/build/
*.indd

# EAGLE
*.gpi
*.$$$
*.s#*
*.b#*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# platformio
.pio
.clang_complete
.gcc-flags.json

# Apple
.DS_Store
# LibreOffice
# *.ods
.~lock*
# KiCAD
*-bak
*fp-info-cache
*-cache.lib
